{% extends 'base.html' %}
{% block title %}Subir una nueva foto{% endblock %}
{% block section %}
    <p align="center"><strong>Nueva Foto</strong></p>
    {% if success_message %}<span style="color:green">{{ success_message|safe }}</span> {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            Ya has subido {{ nof }} fotos. Aun puedes subir {{ nof2 }} fotos.
            <br>
            <button>Subir Foto</button>
        </div>
    </form>


{% endblock %}